<div class="space">

  <table class="table table-hover">
    <thead>
      <tr>
        <td>Coin Name</td>
        <td>Coin Price</td>
        <td>Date</td>
        <td>Action

        </td>
        <td> <button class="nav-link" routerLink="/add" class="btn btn-primary">
          <span class=" navIcon material-icons">add</span> Create</button></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let coin of coins">
        <td>{{coin.name}}  </td>
        <td>{{coin.price}}  </td>
        <td>{{coin.updatedAt | date:'medium'}}  </td>
              <td><button [routerLink]="['/edit', coin._id]"  class="btn btn-primary">
                <span class=" navIcon material-icons">edit</span> </button>
         <span> </span> <button (click)="deleteCoin(coin._id)" class="btn btn-danger">
          <span class=" navIcon material-icons">delete</span></button> </td>
      </tr>
    </tbody>
  </table>

</div>
